files:
  # Configuration Nginx pour Laravel
  "/etc/nginx/conf.d/elasticbeanstalk/laravel.conf":
    mode: "000644"
    owner: root
    group: root
    content: |
      client_max_body_size 50M;
      client_body_timeout 300s;

      location / {
        try_files $uri $uri/ /index.php?$query_string;
      }

      location ~ \.php$ {
        fastcgi_pass unix:/var/run/php-fpm/www.sock;
        fastcgi_index index.php;
        fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
        include fastcgi_params;
        fastcgi_read_timeout 300;

        fastcgi_param HTTP_X_FORWARDED_FOR $proxy_add_x_forwarded_for;
        fastcgi_param HTTP_X_FORWARDED_PROTO $http_x_forwarded_proto;
        fastcgi_param HTTP_X_FORWARDED_HOST $server_name;
      }
